<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration debug="false" scan="true">

	<property name="log.path" value="/Users/yrj/Work/_self/freeknight-crawler"/>

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss} [%5p] [%C{0}.%M]->%m%n</pattern>
		</encoder>
	</appender>

	<appender name="crawler"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.path}/forum.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.path}/%d{yyyyMMdd}-forum.log
			</fileNamePattern>
			<maxHistory>2</maxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="ch.qos.logback.classic.PatternLayout">
				<pattern>%d{HH:mm:ss.SSS} [%5p] [%C{0}.%M]->%m%n</pattern>
			</layout>
		</encoder>
	</appender>

	<logger name="org.apache" level="warn" />

	<root level="info">
		<appender-ref ref="stdout" />
		<appender-ref ref="crawler" />
	</root>
</configuration>
